rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Online Exams: Accessible so exams can be uploaded, shared and taken online
    match /exams/{examId} {
      allow read, write: if true;
      match /questions/{questionId} {
        allow read, write: if true;
      }
    }

    // Online Submissions: Result submissions uploaded by students directly
    match /submissions/{submissionId} {
      allow read, write: if true;
    }

    // User accounts if authenticated
    match /users/{userId} {
      allow read, write: if true;
      match /{allChildren=**} {
        allow read, write: if true;
      }
    }
  }
}
